<div class="form-container-footer">
    <form id="register-form" method="POST" action="/register" class="form-group-footer" onsubmit="return register()">
		<label>
			domain
			<select id="network" name="domain">
				<option value="dodoapp.xyz">dodoapp.xyz</option>
			</select>
		</label>
		<label>
			subdomain
			<input id="subdomain" type="text" name="subdomain" />
		</label>
		<label>
			application type
			<select id="app-type" name="app-type">
			</select>
		</label>
        <label>
			ssh public key
			<textarea id="public-key" name="public-key" rows="2" required></textarea>
		</label>
        <button type="submit">create first app</button>
    </form>
</div>
