<div class="form-container-footer">
    <form method="POST" action="/register" class="form-group-footer">
		<label>
			domain
			<select name="domain">
				<option value="dodoapp.xyz">dodoapp.xyz</option>
			</select>
		</label>
		<label>
			subdomain
			<input type="text" name="subdomain" />
		</label>
        <label>
			ssh public key
			<textarea id="public-key" name="public-key" rows="2" required></textarea>
		</label>
        <button type="submit">create first app</button>
    </form>
</div>
