[data-theme="light"],
:root:not([data-theme="dark"]) {
	--font-family: Hack, monospace;
	--font-size: 14px;
	--background-color: #d6d6d6;
	--border-radius: 0;
	--form-element-border-color: #ffffff;
	--form-element-active-border-color: #7f9f7f;
	--primary: #7f9f7f;
	--primary-hover: #d4888d;
	--grid-spacing-horizontal: 0;
}

input[type="checkbox"] {
	--form-element-border-color: #3a3a3a;
}

main.container {
	max-width: 850px;
}

.dodo {
	font-size: 2.5rem;
	font-weight: bold;
	background-color: #3a3a3a;
	border-left: 1px dashed #3a3a3a;
}

.highlight{
    color: #d4888d;
}

#menu {
	border-bottom: 1px dashed #3a3a3a;
}

#menu a {
	font-size: 1.4rem;
	color: #3a3a3a;
	border-right: 1px dashed #3a3a3a;
}

#menu li {
	padding-top: 0;
	padding-bottom: 0;
}

div.contents-header {
	font-size: 1.2rem;
	border-width: 1px;
	border-style: solid;
}

#contents {
	border-width: 1px;
	border-style: none solid solid solid;
}

div.contents-header > div {
	padding: 1rem 3rem;
}

#contents > div {
	padding: 3rem;
}

#create-instance-form {
	--spacing: 10px;
	background-color: #3a3a3a;
}

#create-instance-form label {
	color: #ffffff;
}

#create-instance-form input, textarea, button {
	border-width: 0.5px !important;
}

#create-instance-form input {
	height: 3rem;
	color: #ffffff;
}

#create-instance-form textarea {
	color: #ffffff;
}

#create-instance-form button {
	width: fit-content;
	font-weight: bold;
	color: #3a3a3a;
}
