<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
        <link rel="stylesheet" href="/static/pico.2.0.6.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css">
		<link rel="stylesheet" href="/static/main.css?v=0.0.1">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ block "title" . }}Title{{ end }}</title>
	</head>
<body>
	<main class="container">
		{{ block "main" . }}{{ end }}
	</main>
</body>
</html>
