{{ define "title" }}dodo: change password{{ end }}
{{ define "main" }}
<div class="form-container">
	<div class="logo">
		<span>do</span><span>do:</span>
	</div>
	<form action="" method="POST">
		<label>
			new password
			<input type="password" name="password" aria-label="Password" value="{{ .Password }}" aria-invalid="{{ if .PasswordErrors }}true{{ else }}undefined{{ end }}" required/>
		</label>
		{{ if .PasswordErrors }}
		{{ range .PasswordErrors }}
		<small class="error-message" aria-live="assertive">
			{{ .Message }}
		</small>
		{{ end }}
		{{ end }}
		<button type="submit">change password</button>
		<input type="hidden" name="username" value="{{ .Username }}" />
	</form>
</div>
{{ end }}
