<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Consent</title>
</head>
<body>
    <a href="/">whoami</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/registration">registration</a><br/>
    <form action="" method="POST">
	{{range .}}
	<input type="checkbox" name="scope" value="{{.}}" />{{.}}<br />
	{{end}}
	<input type="submit" name="allow" value="Allow" />
	<input type="submit" name="reject" value="Reject" />
    </form>
</body>
</html>

