<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/main.css?v=0.0.1">
    <title>Create Account</title>
</head>
<body>
    <div class="main">
	<form action="" method="POST">
	    <input class="field" type="text" name="username" placeholder="Username" autofocus />
	    <input class="field" type="password" name="password" placeholder="Password" />
	    <input type="submit" value="Create Account" />
	    <input type="hidden" name="csrf_token" value="{{.}}" />
	    <a href="/login">Sign In</a>
	</form>
    </div>
</body>
</html>

