<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Create New Account</title>
</head>
<body>
    <a href="/">whoami</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/registration">registration</a><br/>
    <form action="" method="POST">
	<label for="username">Username:</label><br />
	<input type="text" name="username" /><br />
	<label for="password">Password:</label><br />
	<input type="password" name="password" /><br />
	<input type="hidden" name="csrf_token" value="{{.}}" /><br />
	<input type="submit" value="Create New Account" />
    </form>
</body>
</html>

