<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="/static/pico.2.0.6.min.css">
        <link rel="stylesheet" type="text/css" href="/static/appmanager.css?v=0.0.14">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
      <header class="is-fixed-above-lg is-fixed">
        {{ block "header" . }}{{ end }}
      </header>
      <main class="container-fluid page-index">
          <aside id="menu-nav">
            <nav id="menu" class="is-sticky-above-lg">
                <ul>
                  <li><a href="/" class="{{ if (eq .CurrentPage "ALL") }}primary{{ end }}">All</a></li>
                  <li><a href="/installed" class="{{ if (eq .CurrentPage "INSTALLED") }}primary{{ end }}">Installed</a></li>
                  <li><a href="/not-installed" class="{{ if (eq .CurrentPage "NOT_INSTALLED") }}primary{{ end }}">Not Installed</a></li>
                  <hr>
                  {{ block "extra_menu" . }}{{ end }}
                </ul>
            </nav>
          </aside>
		  <div id="content">
			  {{ block "content" . }}{{ end }}
		  </div>
      </main>
    <script src="/static/app-manager.js?v=0.0.2"></script>
	</body>
</html>
