{{ define "header" }}
  <form class="search-bar">
      <input type="search" placeholder="Search" />
  </form>
{{ end }}

{{ define "content" }}
<aside>
    <nav>
        <ul>
            {{ range .Apps }}
                <li class="app-card">
                    <a href="/app/{{ .Slug }}" class="app-link">
                        <article>
                            <div class="icon">
                                <div>
                                    {{ .Icon }}
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="app-details">
                                    <div class="app-name-container">
                                        <p class="app">{{ .Name }}</p>
                                        <span class="instance-count">{{ len .Instances }}</span>
                                    </div>
                                    <p class="description">{{ .ShortDescription }}</p>
                                </div>
                            </div>
                        </article>
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
</aside>
{{ end }}
