{{ define "header" }}
  <form id="search-form" class="search-bar" method="GET" action="/{{ .SearchTarget }}">
      <input id="search-input" class="search-icon" name="query" type="search" placeholder="Search" value="{{ .SearchValue }}"/>
  </form>
  <input type="hidden" id="page-type" value="{{ .SearchTarget }}" />
{{ end }}

{{ define "content" }}
<aside>
    <nav>
        <ul id="app-list">
            {{ range .Apps }}
                <li class="app-card">
                    <a href="/app/{{ .Slug }}" class="app-link">
                        <article>
                            <div class="icon">
                                {{ .Icon }}
                            </div>
                            <div class="card-content">
                                <div class="app-details">
                                    <div class="app-name-container">
                                        <h3 class="app">{{ .Name }}</h3>
                                        <span class="instance-count" data-tooltip="Instances {{ len .Instances }}" data-placement="left">{{ len .Instances }}</span>
                                    </div>
                                    <p class="description">{{ .ShortDescription }}</p>
                                </div>
                            </div>
                        </article>
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
</aside>
{{ end }}
