<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href="/stat/pico.2.0.6.min.css">
    <link rel="stylesheet" href="/stat/main.css?v=0.0.3">
</head>
<body class="container">
    {{ define "svgIcon" }}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g fill="none" fill-rule="evenodd">
            <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
            <path fill="currentColor" d="m12 13.414l5.657 5.657a1 1 0 0 0 1.414-1.414L13.414 12l5.657-5.657a1 1 0 0 0-1.414-1.414L12 10.586L6.343 4.929A1 1 0 0 0 4.93 6.343L10.586 12l-5.657 5.657a1 1 0 1 0 1.414 1.414z" />
        </g>
    </svg>
    {{ end }}
    {{- block "content" . }}
    {{- end }}
    {{ if ne .ErrorMessage "" }}
    <dialog id="error-message" open>
        <article>
            <h3>Error</h3>
            <p id="error-message-content">{{ .ErrorMessage }}</p>
            <footer>
                <button id="error-cancel-button" class="secondary error-cancel-button">Close</button>
            </footer>
        </article>
    </dialog>
    {{ end }}
    <script src="/stat/main.js"></script>
</body>
</html>
