<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <link rel="stylesheet" href="/static/pico.2.0.6.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css">
    <link rel="stylesheet" href="/static/welcome.css?v=0.0.1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <main class="container">
        <div class="form-container">
            <div class="logo">
                <span>do</span><span>do:</span>
            </div>
            <form action="" method="POST">
                <label>
                    username
                    <input type="text" name="username" aria-label="Username" value="{{ .Data.Username }}" aria-invalid="{{ if .UsernameErrors }}true{{ else }}undefined{{ end }}" required/>
                </label>
				{{ if .UsernameErrors }}
					{{ range .UsernameErrors }}
						<small class="error-message" aria-live="assertive">
							{{ . }}
						</small>
					{{ end }}
				{{ end }}
                <label>
                    password
                    <input type="password" name="password" aria-label="Password" value="{{ .Data.Password }}" aria-invalid="{{ if .PasswordErrors }}true{{ else }}undefined{{ end }}" required/>
                </label>
				{{ if .PasswordErrors }}
					{{ range .PasswordErrors }}
						<small class="error-message" aria-live="assertive">
							{{ . }}
						</small>
					{{ end }}
				{{ end }}
                <label>
                    secret token
                    <input type="text" name="secret-token" aria-label="Secret Token" value="{{ .Data.SecretToken }}" required/>
                </label>
                <button type="submit">create account</button>
            </form>
        </div>
    </main>
</body>
</html>
