.main {
    width: 400px;
    height: 400px;
    margin: 7em auto;
}

form {
    padding-top: 40px;
}

input {
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
}

input[type="checkbox"] {
    width: 20%;
}

input[type="submit"] {
    background: rgba(136, 126, 126, 0.5);
    text-align: center;
}

input:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

a {
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
}