<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Managment</title>
    <link rel="stylesheet" href="/static/pico.2.0.6.min.css">
</head>
<body class="container">
    <h1>User: {{ .CurrentUser }}</h1>
    {{ if .LoggedInUserPage }}
    <form action="/create-group" method="post">
        <label for="group-name">Group Name:</label>
        <input type="text" id="group-name" name="group-name" required>
        <label for="description">Group Description:</label>
        <input type="text" id="description" name="description">
        <button type="submit">Create Group</button>
    </form>
    {{ end }}
    <h4>Owner</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {{- range .OwnerGroups -}}
        <tr>
            <td><a href="/group/{{ .Name }}">{{ .Name }}</a></td>
            <td>{{ .Description }}</td>
        </tr>
        {{- end -}}
    </table>
    <h4>Member</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {{- range .MembershipGroups -}}
        <tr>
            <td><a href="/group/{{ .Name }}">{{ .Name }}</a></td>
            <td>{{ .Description }}</td>
        </tr>
        {{- end -}}
    </table>
    <h4>Transitive Groups</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {{- range .TransitiveGroups -}}
        <tr>
            <td><a href="/group/{{ .Name }}">{{ .Name }}</a></td>
            <td>{{ .Description }}</td>
        </tr>
        {{- end -}}
    </table>
    {{ if ne .ErrorMessage "" }}
    <dialog id="error-message" open>
        <article>
            <h2>Error:</h2>
            <p id="error-message-content">{{ .ErrorMessage }}</p>
            <footer>
                <button id="error-cancel-button" class="secondary error-cancel-button">Cancel</button>
            </footer>
        </article>
    </dialog>
    {{ end }}
    <script src="/static/main.js"></script>
</body>
</html>
